.body{
    background-color: #FFFCFA;
}


.recursos__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.recursos__container--div {
    grid-column: span 3;
    background-color: #bd998e;
    border: none;
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    height: 250px;
}
.recursos__container > * {
    flex: 1 1 40%;
    margin: 10px;

}

.recursos__container--box--button {
    width: 200px;
    background-color: white;
    color: black;
    cursor: pointer;
    align-items: center;
    font-family: 'Junge', sans-serif;
    font-size: 20px;
    border: 1px solid black;
    transition: box-shadow 0.3s ease;
}
.recursos__container--box--button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.recursos__container--box {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.recursos__container--div--title {
    color: white;
    cursor: pointer;
    font-family: 'Cormorant Infant', serif;
    font-size: 1.35vw;
    text-decoration: none;
    text-align: center;
    margin: 5px;
}
.recursos__container--div--title h3 {
    text-decoration: none;
}
.recursos__container--div--enlaceSinSubrayado {
    text-decoration: none;
}

.recursos__container--div--div1--div1--text {
    color: white;
    font-family: 'Questrial', sans-serif;
    text-decoration: none;
    font-size: 1.04vw;
}

.recursos__container--div--div1--div2--icono img {
    max-width: 100%;
    height: 100px;
    margin-top:20px
}

.recursos__container--div--div1 {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 0;
    margin: 0;
}

@media (max-width: 1366px) {
    .recursos__container--div--title {
        font-size: 1.9vw;
    }
    .recursos__container--div--div1--div1--text {
        font-size: 1.46vw;
    }
}

@media (max-width: 1280px) {
    .recursos__container--div--title {
        font-size: 2.03vw;
    }
    .recursos__container--div--div1--div1--text {
        font-size: 1.56vw;
    }
}

@media (max-width: 1024px) {
    .recursos__container--div--title {
        font-size: 2.54vw;
    }
    .recursos__container--div--div1--div1--text {
        font-size: 1.95vw;
    }
}

@media (max-width: 800px) {
    .recursos__container--div--title {
        font-size: 2.44vw;
    }
    .recursos__container--div--div1--div1--text {
        font-size: 2.2vw;
    }
    .recursos__container {
        grid-template-columns: repeat(2, 1fr);
    }
    .recursos__container--div {
        grid-column: span 2;
    }
}
@media (max-width: 600px) {
    .recursos__container--div--title {
        font-size: 3.25vw;
    }
    .recursos__container--div--div1--div1--text {
        font-size: 2.5vw;
    }
    .recursos__container {
        grid-template-columns: repeat(2, 1fr);
    }
    .recursos__container--div {
        grid-column: span 2;
    }
    .recursos__container--div--div1--div2--icono img {
        display: none;
    }
    .recursos__container--div--div1 {
        display: flex;
    }
}
@media (max-width: 360px) {
    .recursos__container--div--title {
        font-size: 5.42vw;
    }
    .recursos__container--div--div1--div1--text {
        font-size: 4.17vw;
    }
    .recursos__container {
        grid-template-columns: repeat(2, 1fr);
    }
    .recursos__container--div {
        grid-column: span 2;
    }
    .recursos__container--div--div1--div2--icono img {
        display: none;
    }
    .recursos__container--div--div1 {
        display: flex;
    }

}